.dropdown:hover .dropdown-menu {
    display: block;
}

.navpills .dropdown-menu {
	margin-top: -1px;
}
.select2-container {
	min-width: 100px !important;
	max-width: 300px !important;
	margin-top:0 !important;
	padding-left:0 !important;
}
.select2-selection__choice {
    margin-top: 0px !important;
}

.select2-selection__rendered {
    margin-top: 0px !important;
	padding-left: 1px !important;
}