.dropdown:hover .dropdown-menu {
    display: block;
}

.navpills .dropdown-menu {
	margin-top: -1px;
}
.select2-container {
	max-width: 28px !important;
	margin-top:0 !important;
	padding-left:0 !important;
}
.select2-selection__choice{
    margin-top: 0px !important;
}


