{% extends "app1/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
{{ formset.media }}

<form action="" class="form form-group-sm " method="post">
    {% csrf_token %}
   {% crispy formset helper %}
</form>
<script>
    $.fn.select2.defaults.set( "theme", "bootstrap4");
	$.fn.select2.defaults.set( "width", "120px");
	$('.select2').select2({width: "120px",
    containerCssClass: "input-group-sm form-control-sm",
    dropdownCssClass: "input-group-sm form-control-sm",
});
</script>

{% endblock %}