{% extends "app1/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="row">

<form action="" class="form-group border-0 mt-3 ml-3" method="post">
 {% csrf_token %}
	<input type='text' class='ml-3' name='code'></input>
	<input class="btn-sm btn-primary" type="submit" name="Submit">
</form>
<p class="lead ml-3 mt-3">{{code}}</p>
</div>

<div class="row ml-4">
{{ graph|safe }}
{{ graph1|safe }}
</div>

{% endblock %}