{% extends "app1/base.html" %}
{% load front_tags %}
{% load bootstrap4 %}
{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, shrink-to-fit=no">
<script type="text/javascript">
    $(function(){
		var xeditable_options = {};
        datatableview.initialize($('.datatable'), {
            fnRowCallback: datatableview.make_xeditable(xeditable_options),
        });
    });
</script>
{% front_edit_scripts %}
{% csrf_token %}
{% front_edit "placeholder_name" request.path request.LANGUAGE_CODE %}
{{ datatable }}
{% end_front_edit  %}
{% endblock %}