{% extends "app1/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class=".container">

<form method="post">
    {% csrf_token %}
    <button class="btn btn-sm btn-primary mt-3 ml-3" type="submit" name="model_script">Generate Models</button>
</form>

<form method="post">
    {% csrf_token %}
    <button class="btn btn-sm btn-primary mt-3 ml-3" type="submit" name="forecast_script">Generate Forecast</button>
</form>

</div>
{% endblock %}