{% extends "app1/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, shrink-to-fit=no">
<form action="" class="form-group border-0 mt-3 ml-3" method="post">
 {% csrf_token %}
	<input type='text' name='code'></input>
	<input class="btn-sm btn-primary" type="submit" name="Submit">
</form>
<form id="myForm" action="" class="form-group border-0 ml-3" method="post">
{% csrf_token %}
{% autoescape off %}
{{df}}
{% endautoescape %}
<td><input class="btn-sm btn-primary" type="submit" name='df' value="Save DF"></td>
</form>

<script>
	$('td input').width(86);
	</script>
{% endblock %}

