{% extends "app1/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
{{ formset.media.js }}
<link rel="stylesheet" href="{%static 'custom.css' %}" >
<meta name="viewport" content="initial-scale=1, shrink-to-fit=yes">
{% if filter %}
<form method="get" class="form-group form-inline mb-2 mt-2">
		{{ filter.form.media.js }}
        {% for field in filter.form %}
		{% bootstrap_field field layout="inline" size='sm'%}
		{% endfor %}
        <input class="btn-sm btn-primary" type="submit" name="Submit">
    </form>
{% endif %}

<form id="myForm" action="" class="form-group border-0" method="post">
	
    {% csrf_token %}
	{% crispy formset helper %}
</form>

{% if page_obj.has_other_pages %}
  <ul class="pagination pagination-sm justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"> <a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

<script>
	$('td').addClass('border-0 p-0 form-control-sm');
	$('input').addClass('form-control-sm');
	$('select').addClass('p-0 form-control-sm');
	$(".checkboxinput").addClass('ml-3 p-0');
    $.fn.select2.defaults.set( "theme", "bootstrap4");
	$.fn.select2.defaults.set('width','100%');
	$.fn.select2.defaults.set( "dropdownAutoWidth", "true");
</script>


{% endblock %}